<table mat-table [dataSource]="dbUserArray" class="mat-elevation-z10">
    <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef> Vorname </th>
        <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.fname}} </td>
    </ng-container>

    <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef> Nachname </th>
        <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.lname}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.mail}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefon </th>
        <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Aktionen </th>
        <td mat-cell *matCellDef="let user">
            <button mat-stroked-button (click)="firebaseService.deleteUser(user.id)">Löschen</button>
            <button mat-stroked-button (click)="changeUserBut(user)">Ändern</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let user"></tr>
</table>

<div class="user-add-comp">
    <app-user-add (userAdded)="addUser($event)"></app-user-add>
</div>
