
<div class="header">
    <div class="user-name">
        <p>
            Benutzer Liste
        </p>
    </div>
</div>
<div class="main-content" [ngClass]="cssClassContent" >
    <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="30%">
            <mat-placeholder>
                <mat-icon>
                    search
                </mat-icon>
            </mat-placeholder>
            <input matInput type="text" (keyup)="filter($event.target.value)">
        </mat-form-field>
    </div>

    <div class="user-table" (resized)="updateDisplayedColumns()">
        <table mat-table
               matSort
               matSortActive="fname" matSortDisableClear matSortDirection="asc"
               [dataSource]="dbUserArray"
               class="mat-elevation-z10">
            <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
                <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.fname}} </td>
            </ng-container>

            <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
                <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.lname}} </td>
            </ng-container>

            <ng-container matColumnDef="mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.mail}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </th>
                <td mat-cell class="mat-tab-link" *matCellDef="let user" [routerLink]="['/user', user.id]"> {{user.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button (click)="deleteUser(user)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let user" class="tr-data"></tr>
        </table>

        <mat-paginator [disabled]="moreThanTenUsers" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
    </div>

    <div class="user-add-comp">
        <app-user-add
            (userAdded)="addUser($event)"
            *ngIf="authService.isLoggedIn"
        ></app-user-add>
    </div>
</div>
<div class="loading-animation" fxLayoutAlign="center" *ngIf="loadingCircle">
    <mat-spinner></mat-spinner>
</div>
<app-toolbar class="toolbar"></app-toolbar>
