.toolbar-title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.toolbar-auth-option {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.toolbar-title a{
    color: white;
    text-decoration: none;
}

.toolbar-title mat-icon {
    padding-top: 4px;
    margin-right: 2px;
}
