<form class="mat-form-field">
    <mat-form-field class="user-add-form">
        <input matInput
               type="text"
               placeholder="Vorname"
               [(ngModel)]="user.fname"
               [formControl]="fnameFormControl"
               [errorStateMatcher]="matcher"
        >
        <mat-hint>
            Verpflichtend
        </mat-hint>
        <mat-error *ngIf="fnameFormControl.hasError('required')">
            Der Vorname ist <strong>verpflichtend</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="user-add-form">
        <input matInput
               type="text"
               placeholder="Nachname"
               [(ngModel)]="user.lname"
               [formControl]="lnameFormControl"
               [errorStateMatcher]="matcher"
        >
        <mat-hint>
            Verpflichtend
        </mat-hint>
        <mat-error *ngIf="lnameFormControl.hasError('required')">
            Der Nachname ist <strong>verpflichtend</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="user-add-form" >
        <input matInput
            type="email"
            placeholder="Email"
            [(ngModel)]="user.mail"
            [formControl]="mailFormControl"
            [errorStateMatcher]="matcher"
        >
        <mat-error *ngIf="mailFormControl.hasError('email')">
            Das Format der Email stimmt nicht
        </mat-error>
    </mat-form-field>

    <mat-form-field class="user-add-form">
        <input matInput
           type="tel"
           placeholder="Telefon"
           [(ngModel)]="user.phone"
           [formControl]="phoneFormControl"
           [errorStateMatcher]="matcher"
        >
        <mat-hint>
            Verpflichtend
        </mat-hint>
        <mat-error *ngIf="phoneFormControl.hasError('required')">
            Die Telefonnummer ist <strong>verpflichtend</strong>
        </mat-error>
        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
            Die Telefonnummer muss dem Format "+49..." entsprechen
        </mat-error>
    </mat-form-field>

    <button type="submit"
        mat-raised-button
        color="primary"
        [disabled]="fnameFormControl.hasError('required') ||
        lnameFormControl.hasError('required') ||
        mailFormControl.hasError('email') ||
        phoneFormControl.hasError('required') ||
        phoneFormControl.hasError('pattern')"
        (click)="button.func(this)"
    >
        {{button.action}}
    </button>
</form>
