<form class="mat-form-field">
    <mat-form-field class="user-add-form">
        <label>
            <input matInput
                   type="text"
                   placeholder="Vorname"
                   [(ngModel)]="user.fname"
                   [ngModelOptions]="{standalone: true}"
            >
        </label>
    </mat-form-field>

    <mat-form-field class="user-add-form">
        <label>
            <input matInput
                   type="text"
                   placeholder="Nachname"
                   [(ngModel)]="user.lname"
                   [ngModelOptions]="{standalone: true}"
            >
        </label>
    </mat-form-field>

    <mat-form-field class="user-add-form">
        <label>
            <input matInput
                   type="tel"
                   placeholder="Telefon"
                   [(ngModel)]="user.phone"
                   [ngModelOptions]="{standalone: true}"
            >
        </label>
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            color="primary"
            (click)="button.func(this)"
    >
        {{button.action}}
    </button>
</form>
