<h1 mat-dialog-title>Hi!</h1>
<div mat-dialog-content>
    <p>Bitte logge dich ein, um alle Funktionen zu nutzen</p>
    <mat-form-field>
        <input matInput placeholder="Email" type="email" #userMail>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Passwort" type="password" #userPW>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button
        mat-button
        (click)="closeDialog()"
    >
        Zurück
    </button>
    <button
        mat-button
        (click)="login(userMail.value, userPW.value)"
    >
        Login
    </button>
</div>
