<h1 mat-dialog-title>Hi!</h1>
<div mat-dialog-content>
    <p>Bitte logge dich ein, um alle Funktionen zu nutzen</p>
    <mat-form-field>
        <input
            matInput
            placeholder="Email"
            type="email"
            #userMail
            [errorStateMatcher]="matcher"
            [formControl]="emailFormControl"
            (keydown.enter)="buttonLogin._elementRef.nativeElement.click()"
            (keydown)="setWrongPassword(false)"
        >
        <mat-hint>
            Verpflichtend
        </mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Verpflichtend
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
        Ungültig
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            placeholder="Passwort"
            type="password"
            #userPW
            [errorStateMatcher]="matcher"
            [formControl]="passwordFormControl"
            (keydown.enter)="buttonLogin._elementRef.nativeElement.click()"
            (keydown)="setWrongPassword(false)"
        >
        <mat-hint>
            Verpflichtend
        </mat-hint>
        <mat-error *ngIf="passwordState()">
            Falsches Passwort
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Verpflichtend
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button
        mat-button
        (click)="closeDialog()"
    >
        Zurück
    </button>
    <button
        mat-button
        #buttonLogin
        (click)="login(userMail.value, userPW.value)"
        [disabled]="passwordFormControl.hasError('required') || emailFormControl.hasError('required') || emailFormControl.hasError('email') || passwordState()"
    >
        Login
    </button>
</div>
