<div class="main-container" (resized)="changeTop($event)">
    <div appParallax [ratio]="0.3" [top]="0" class="background-image">
        <img [src]="'https://picsum.photos/' + innerWidth + '/300?blur=6'" alt="Background Pic">
    </div>
    <div appParallax [ratio]="1.0" [top]="topOffset" class="header mat-elevation-z8 mat-primary">
        <div class="user-name">
            <p>
                {{user.fname}} {{user.lname}}
            </p>
        </div>
    </div>
    <div appParallax [ratio]="1.0" [top]="topOffset + 224" class="user-content  mat-elevation-z8">
        <mat-tab-group>
            <mat-tab label="Daten">
                <div class="user-data">
                    <div class="user-phone-card">
                        <mat-card>
                            <mat-card-title>
                                Telefon
                            </mat-card-title>
                            <mat-card-content>
                                <mat-icon>phone</mat-icon>
                                <a type="tel" [href]="'tel://' + user.phone">{{user.phone}}</a>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="user-mail"><mat-card>
                        <mat-card-title>
                            Email
                        </mat-card-title>
                        <mat-card-content>
                            <mat-icon>email</mat-icon>
                            <a type="email" [href]="'mailto://' + user.mail">{{user.mail}}</a>
                        </mat-card-content>
                    </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Über mich">
                Hier könnte etwas interessantes über mich stehen!
            </mat-tab>
        </mat-tab-group>
    </div>
    <div appParallax [ratio]="0.9" [top]="topOffset + 94" class="user-profile-pic">
        <img src="https://picsum.photos/150" alt="Profile Pic" class="mat-elevation-z8">
    </div>
    <app-toolbar class="toolbar-fixed"></app-toolbar>
</div>
